<!DOCTYPE html>
<html>
<head>
    <% title = "Manager Registered"; %>
    <% include ./partials/head.ejs %>
</head>
<body class="container">

<header>
    <% include ./partials/header.ejs %>
</header>

<main>
    <div class="jumbotron">
        <h1>About IowaAir</h1>
    </div>
    <div class="jumbotron">
        <p><i>Iowa Air is a new company offering flights at <br />
                competitive prices and are actually awesome generally!<br />
                Lead by Raman Aravamudhan and Aniket Chitale the budding company <br />
                has innovated spaceflight by harnessing quantum teleportation. <br />
                Unfortunately due to "pesky FCC regulations" IowaAir is represented  <br />
                as an Air travel company for all intents and purposes.<br /><br /><br />
                Some quotes from our founders:<br />
                "I have had it with these Mother ####### Snakes on a Mother ####### Quantum Teleporter <br />
                "Joey, have you ever been in a turkish prison?"<br />
                "Surely you can't be serious?" <br />
                "That's not teleporting, that's just dying with style."<br />
                "Teleporting is no different from riding a bicycle. It's just a lot harder to put baseball cards in the spokes."<br />
            </i></p>
    </div>
</main>

</body>
</html>