<!DOCTYPE html>
<html>
<head>
    <% title = "Manager Registered"; %>
    <% include ./partials/head.ejs %>
</head>
<body class="container">

<header>
    <% include ./partials/header.ejs %>
</header>

<main>
    <div class="jumbotron">
        <a href="http://localhost:3000/managersignup" class="btn btn-default">Sign Up Managers</a>
    </div>
</main>
</body>
</html>
