<!DOCTYPE html>
<html>
<head>
    <% title = "Manager Registered"; %>
    <% include ./partials/head.ejs %>
</head>
<body class="container">

<header>
    <% include ./partials/header.ejs %>
</header>

<main>
    <div class="jumbotron">
        <h1>Manager Dashboard</h1>
    </div>
    <div class="jumbotron">
        <button type="button" class="btn btn-default">Add or Remove Flights</button>
        <button type="button" class="btn btn-default">Add or Remove Airplanes</button>
        <button href="http://localhost:3000/managersignup" type="button" class="btn btn-default">Add Managers</button>
    </div>
</main>
</body>
</html>
