<!DOCTYPE html>
<html>
<head>
    <% title = "Change Password"; %>
    <% include ./partials/head.ejs %>
</head>
<body class="container">

<header>
    <% include ./partials/header.ejs %>
</header>

<main>
    <div class="jumbotron">
        <h1>Change Password</h1>
        <% if(required) { %>
        <div class="alert alert-danger alert-dismissable fade in collapse" id="errorDiv">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span id="errorMessage">You must change your password to use this site.</span>
        </div>
        <% } %>
        <form data-toggle="validator" role="form" id="signupform" method="post" class="form-horizontal">

            <div class="form-group">
                <label class="col-xs-3 control-label">Password</label>
                <div class="col-xs-5">
                    <input type="password" class="form-control" name="password" required/>
                </div>
            </div>


            <div class="form-group has-feedback">
                <div class="col-xs-9 col-xs-offset-3">
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
            </div>
        </form>
        <script>
            // this is the id of the form
            <% if(!required) { %>
            $("#errorDiv").hide();
            <% } %>

            $("#signupform").submit(function(e) {

                var url = "/user/changepassword"; // the script where you handle the form input.

                $.ajax({
                    type: "POST",
                    url: url,
                    data: $("#signupform").serialize(), // serializes the form's elements.
                    success: function(data)
                    {
                        window.location = "/";
                    },
                    error: function(req, ajaxOptions, thrownError) {
                        $("#errorDiv").show();
                        $("#errorMessage").text(req.responseText.slice(1, -1));
                    }

                });

                e.preventDefault(); // avoid to execute the actual submit of the form.
            });
        </script>
    </div>
</main>

<footer>
    <% include ./partials/footer.ejs %>
</footer>

</body>
</html>