<!DOCTYPE html>
<html>
  <head>

      <% include ./partials/head.ejs %>
      <% title = "Homepage"; %>
      <link rel="stylesheet" href="/stylesheets/IndexBoot.css">

  </head>
  <main>
      <header>
          <% include ./partials/header.ejs %>
      </header>
      <div class="jumbotron ">
          <img src="images/public-domain-images-free-stock-photos-high-quality-resolution-downloads-unsplash0071-1000x666.jpg" class="img-rounded img-responsive "   alt="Responsive image">

      </div>



  </main>



  <main>


</html>
