<!DOCTYPE html>
<html>
<head>
    <% title = "Manager Registered"; %>
    <% include ./partials/head.ejs %>
</head>
<body class="container">

<header>
    <% include ./partials/header.ejs %>
</header>
<main>
    <div class="jumbotron">
        A manager has been registered. They should receive an email with a temporary password shortly.
    </div>
</main>
</body>
</html>
