<!DOCTYPE html>
<html>
<head>
    <% title = "Manager Registered"; %>
    <% include ./partials/head.ejs %>
</head>
<body class="container">

<header>
    <% include ./partials/header.ejs %>
</header>
<main>
    <div class="jumobtron">
        <h1>Manager Dashboard </h1>
    </div>
    <div class="jumbotron">
        <button type="button" class="btn btn-default">Point of Service Access</button>
        <button type="button" class="btn btn-default">Book Flight for User</button>
        <button type="button" class="btn btn-default">Change or Cancel Reservations</button>
    </div>
</main>
</body>
</html>
