<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
<h1>Signup</h1>
<p>
    First name: <input type="text" id="firstName"><br>
    Last name: <input type="text" id="lastName"><br>
    Email: <input type="text" id="email"><br>
    Street Address: <input type="text" id="street"><br>
    City: <input type="text" id="city"><br>
    State: <input type="text" id="state"><br>
    Country: <input type="text" id="country"><br>
    Zip Code: <input type="text" id="zipcode"><br>
</p>
<button onclick="submit()">Submit</button>

<script type="text/javascript" src="/javascripts/signup.js"></script>

</body>
</html>
