<!DOCTYPE html>
<html>
<head>
    <% title = "Signup"; %>
    <% include ./partials/head.ejs %>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
    <script type="text/javascript" src="/javascripts/signup.js"></script>
</head>
<body class="container">

<header>
    <% include ./partials/header.ejs %>
</header>

<main>
    <div class="jumbotron">
        <h1>Register</h1>
        <form id="signupform" method="post" class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-3 control-label">First Name</label>
                <div class="col-xs-5">
                    <input type="text" class="form-control" name="firstName" required/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label">Last Name</label>
                <div class="col-xs-5">
                    <input type="text" class="form-control" name="lastName" required/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label">Email</label>
                <div class="col-xs-5">
                    <input type="email" class="form-control" name="email" required/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label">Street Address</label>
                <div class="col-xs-5">
                    <input type="text" class="form-control" name="address" required/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label">City</label>
                <div class="col-xs-5">
                    <input type="text" class="form-control" name="city" required/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label">State</label>
                <div class="col-xs-5">
                    <input type="text" class="form-control" name="state" required/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label">Zip Code</label>
                <div class="col-xs-5">
                    <input type="text" class="form-control" name="zipCode" required/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label">Country</label>
                <div class="col-xs-5">
                    <select class="form-control" name="country">
                        <option value="usa">USA</option>
                        <option value="canada">Canada</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-9 col-xs-offset-3">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </div>
        </form>
    </div>
</main>

<footer>
    <% include ./partials/footer.ejs %>
</footer>

</body>
</html>