<!DOCTYPE html>
<html>
<head>
    <% title = "Manager Registered"; %>
    <% include ./partials/head.ejs %>
</head>
<body class="container">

<header>
    <% include ./partials/header.ejs %>
</header>

<main>
    <div class="jumbotron">

    </div>
</main>
</body>
</html>
